.message-brig {
    height: 55px;
    font-family: Inter, var(--default-font-family);
    font-size: 15px;
    background-color: #EAECEE;
    border: none;
    border-radius: 300px;
    width: 1250px;
    text-indent: 25px;
}