.rectangle {
    flex-shrink: 0;
    position: relative;
    width: 420px;
    height: 170px;
    border: 1px solid #CFCFCF;
    z-index: 40;
    border-radius: 12px;
  }
  .rectangle:hover {
    transition: 0.2s;
    border: double 5px transparent;
    border-radius: 12px;
    background-image: linear-gradient(white, white), 
                    linear-gradient(to right, #FF7BEB, #FFAD49);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  .frame-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 12px;
    position: relative;
    width: 229px;
    margin: 22px 0 0 42px;
    z-index: 29;
  }
  .frame-3 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 7px;
    position: relative;
    width: 229px;
    z-index: 30;
  }
  .test-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 9px;
    position: relative;
    width: 229px;
    z-index: 31;
  }
  .test-name {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 24px;
    color: #242d35;
    font-family: Inter, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 32;
  }
  .badge-frame {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 21px;
    position: relative;
    width: 59px;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 33;
  }
  .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 59px;
    padding: 5px 10px 7px 10px;
    background: #ffe8d7;
    z-index: 34;
    overflow: hidden;
    border-radius: 12px;
  }
  .urgent {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 12px;
    color: #931222;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    white-space: nowrap;
    z-index: 35;
  }.purpose {
    display: block;
    margin: 8px 0 0 35px;
    color: #6e7072;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    z-index: 36;
    white-space: normal; /* Allows text to wrap */
    word-wrap: break-word; /* Breaks long words onto the next line if necessary */
    height: auto; /* Allows height to adjust based on content */
}

.card-text {
    width: 375px;
    overflow: hidden;
    white-space: normal; /* Allows text to wrap */
    word-wrap: break-word; /* Breaks long words onto the next line if necessary */
    height: auto; /* Allows height to adjust based on content */
}
